{% extends 'blogapp/base.html' %}
{% block title %}My Posts{% endblock %}
{% block content %}
<h1 class="text-center mt-3">My Post</h1>
{% if object_list %}
<div class="text-center mt-5 border border-primary p-4 ">
    <form action="">
        {{myFilter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
{% endif %}
<div class="container mt-5">
    <div class="row text-center">
        {% if object_list %}
        <div class="col-md-8"><h4>Posts</h4></div>
        <div class="col-md-4"><h4>Action</h4></div>
        <hr>
    </div>
    <ol>
        {% for post in object_list %}
       
        <li>
            <div class="row mt-4 ">
                <div class="col-md-8">
                    <a href="{% url 'article' post.id %}">{{post.title}}</a> - <a
                        href="{% url 'category' post.category.id %}">{{post.category}}</a> -
                    {{post.author.first_name}} {{post.author.last_name}}<br>
                    <div class="text-justify">
                        {{post.body|safe|truncatewords:30}}...
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <a href="{% url 'edit_post' post.pk %}">Update</a> | 
                    <a href="{% url 'delete_post' post.pk %}">Delete</a>     
                </div>
            </div>
            <hr>
        </li>
        {% endfor %}

    </ol>
    {% else%}
    <h2>You don't have any post ...  <a href="{% url 'add_post' %}">add one</a></h2>
    {% endif%}
</div>
<div class="mt-5">

</div>

{% endblock %}