{% extends 'blogapp/base.html' %}
{% load socialaccount %}
{% block title %}Login{% endblock %}

{% block content %}
<!-- <div class="form-group">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Login"> 
        </form>
    </div> -->

<h1 class="text-center">Login</h1>
<div class="form-group ">
    <form action="" method="POST">
        {% csrf_token %}
        <p><label for="id_username">Username:</label>
            <input class="form-control" type="text" name="username" autofocus autocapitalize="none"
                autocomplete="username" maxlength="150" required id="id_username">
        </p>
        <p><label for="id_password">Password:</label>
            <input class="form-control" type="password" name="password" autocomplete="current-password" required
                id="id_password">
        </p>
        <div class="text-center" ><input  type="submit" class="btn btn-primary" value="Login"></div>
        
    </form>
</div>

<div class="alert alert-danger" role="alert">
    <a href="{% provider_login_url 'google' %}" class="alert-link">Clike Here</a>Login with Google Accounts.
</div>

{% endblock %}